.btn {
    background-color: #ADB9FD;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 50px;
  }
  
  .btn:hover {
    color: #4d87e1;
  }