.navbar {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #ADB9FD;
    padding: 1em;
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 700px;
  }
  
  .item {
    margin-right: 1em;
  }
  
  .item a {
    color: #111111;
    text-decoration: none;
    cursor: pointer;
  }
  
  .item a:hover {
    color: #4d87e1;
    text-decoration: none;
    transition: 0.5s;
  }

  img {
    width: 40px;
  }